<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>笑いの好みはどこから？</title>
</head>
<body>
<div class="container">
<div clss = "row">
<h3 class="title ol-xs-12 text-center">ボケって</h3>
</div>
<div clss = "row">
</div>
<div clss = "row">
<p class="top center-block text-center">笑いの好みのルーツを探る研究をしています。</p>
<p class="top center-block text-center">もしよろしければ簡単なアンケートにご協力下さい。</p>
<p class="top center-block text-center">順番に画像と文章がセットで出てきますので、</p>
</div>
<div>
<a class="btn btn-primary center-block" href="https://warai2016.herokuapp.com/survey">スタート！</a>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>