<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>survey</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="header row">
<div class="col-xs-12 bg-warning"><h3>お笑いアンケート</h3></div>

</div>
<div id="hyouka_p"><p>面白さを５段階評価してください。笑いどころが分からない場合は、解釈できないを選んで下さい。</p></div>
<!-- ======================================================================== -->
<!-- ======================== bokete質問 ======================== -->
<div>
      {% for boke in bokes %}
      <div class="question center-block">
      <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
      <img src="{{ boke.img }}" class="img-responsive center-block">
      </div>
      <div class="col-xs-2"></div>
      </div>
      <div class="row">
        <h3 class="col-xs-12 text-center">{{boke.text}}</h3>
      </div>
      </div>
      {% endfor %}
  <form action="" method="post" name="survey">

  {{ form.hidden_tag() }}
        <div class="form center-block">{{ form.choice0() }}</div><div class="form center-block">{{ form.choice1() }}</div><div class="form center-block">{{ form.choice2() }}</div><div class="form center-block">{{ form.choice3() }}</div><div class="form center-block">{{ form.choice4() }}</div>
        <div class="form center-block">{{ form.choice5() }}</div><div class="form center-block">{{ form.choice6() }}</div><div class="form center-block">{{ form.choice7() }}</div><div class="form center-block">{{ form.choice8() }}</div><div class="form center-block">{{ form.choice9() }}</div>
        <div class="form center-block">{{ form.choice10() }}</div><div class="form center-block">{{ form.choice11() }}</div><div class="form center-block">{{ form.choice12() }}</div><div class="form center-block">{{ form.choice13() }}</div><div class="form center-block">{{ form.choice14() }}</div>
        <div class="form center-block">{{ form.choice15() }}</div><div class="form center-block">{{ form.choice16() }}</div><div class="form center-block">{{ form.choice17() }}</div><div class="form center-block">{{ form.choice18() }}</div><div class="form center-block">{{ form.choice19() }}</div>
        <div class="form center-block">{{ form.choice20() }}</div><div class="form center-block">{{ form.choice21() }}</div><div class="form center-block">{{ form.choice22() }}</div><div class="form center-block">{{ form.choice23() }}</div><div class="form center-block">{{ form.choice24() }}</div>
        <div class="form center-block">{{ form.choice25() }}</div><div class="form center-block">{{ form.choice26() }}</div><div class="form center-block">{{ form.choice27() }}</div><div class="form center-block">{{ form.choice28() }}</div><div class="form center-block">{{ form.choice29() }}</div>
      <div class="question">
        <h3>boketeチャレンジ</h3>
        <p>空欄を穴埋めしてボケて下さい。（どうしても思いつかない方はスキップすることもできます）</p>
      <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
      <img src="http://d2dcan0armyq93.cloudfront.net/photo/odai/600/d3dc5562d473bc5437668d1245031e30_600.jpg" class="img-responsive center-block">
      </div>
      <div class="col-xs-2"></div>
      </div>
      </div>
      <div class="form center-block">
        {{ form.bokete0() }} を {{ form.bokete1() }} るだけの簡単なお仕事です。
      </div>
<!-- ======================================================================== -->
<!-- ======================== ひととなり質問 ======================== -->
      <div class="question">
        <h3>ひととなりについての質問1/7</h3>
        <p></p>
      </div>
      <div class="form center-block">
        {{form.hito0() }}
      </div>
      <div class="question">
        <h3>ひととなりについての質問2/7</h3>
        <p></p>
      </div>
      <div class="form center-block">
        {{form.hito1() }}
      </div>
      <div class="question">
        <h3>ひととなりについての質問3/7</h3>
        <p></p>
      </div>
      <div class="form center-block">
        {{form.hito2() }}
      </div>
      <div class="question">
        <h3>ひととなりについての質問4/7</h3>
        <p></p>
      </div>
      <div class="form center-block">
        {{form.hito3() }}
      </div>
      <div class="question">
        <h3>ひととなりについての質問5/7</h3>
        <p></p>
      </div>
      <div class="form center-block">
        {{form.hito4() }}
      </div>
      <div class="question">
        <h3>ひととなりについての質問6/7</h3>
        <p></p>
      </div>
      <div class="form center-block">
        {{form.hito5() }}
      </div>
      <div class="question">
        <h3>ひととなりについての質問7/7</h3>
        <p></p>
      </div>
      <div class="form center-block">
        {{form.hito6() }}
      </div>

<!-- ======================================================================== -->
<!-- ======================== コンプレックス質問 ======================== -->

      <div class="question">
        <h3>コンプレックスについての質問1/4</h3>
        <p>あなたが<b>中学生</b>のころ、何か抱えていたコンプレックスはありましたか？当てはまるものを次から選んで下さい。（複数回答可）</p>
      </div>
      <div class="form center-block">
        {{form.comp0() }}
      </div>

      <div class="question">
        <h3>コンプレックスについての質問2/4</h3>
        <p>あなたが<b>高校生</b>のころ、何か抱えていたコンプレックスはありましたか？当てはまるものを次から選んで下さい。（複数回答可）</p>
      </div>
      <div class="form center-block">
        {{ form.comp1() }}
      </div>

      <div class="question">
        <h3>コンプレックスについての質問3/4</h3>
        <p><b>現在</b>、何か抱えていたコンプレックスはありますか？当てはまるものを次から選んで下さい。（複数回答可）</p>
      </div>
      <div class="form center-block">
        {{ form.comp2() }}
      </div>

      <div class="question">
        <h3>コンプレックスについての質問4/4</h3>
        <p>あなたはコンプレックスに対してどんな方法で対処しようとしますか</p>
      </div>
      </div>
      <div class="form center-block">
        {{ form.comp3() }}
      </div>
<!-- ======================================================================== -->
<!-- ======================== ぼっち質問 ======================== -->
      <div class="question">
        <h3>ぼっち度についての質問1/1</h3>
        <p>あなたは中学生のころ、クラスでどんな立ち位置でしたか？１（ぼっち）〜５（人気者）で答えて下さい。</p>
      </div>
      <div class="form center-block">
        {{ form.botti() }}
      </div>
      <div class="question">
        <p>投稿して頂いたボケをORFの来場者の方々に評価してもらう予定です。評価が高かった方には商品をプレゼントする予定ですので、連絡用にTwitterアカウントを記入して下さい。（スキップ可）</p>
      </div>
      <div class="form center-block">
        ＠{{ form.twitter() }}
      </div>
<div class="row"><div class="xs-col-3"><div class="xs-col-3">
  <button id="next" type="button" class="btn-primary center-block xs-col-6"><h4>次へ！</h4></button>
</div></div></div>
<divclass="row"><div class="xs-col-3"><div class="xs-col-3">
  <button id="finish" type="submit" class="btn-success center-block xs-col-6"><h4>送信！</h4></button>
</div></div></div>
　
  </form>
<h4 id="inputerror" class="col-xs-12 bg-danger text-danger text-center">値を入力して下さい！</h4>
</div>
</div>
<!--bootstrap & main.js  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>