<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>survey</title>
</head>
<body>
<h2>アンケートです！</h2>
<div>
      {% for boke in bokes %}
      <div>
        <img src="{{ boke.img }}">
        <p>{{boke.text}}</p>
      </div>
      {% endfor %}
  <form action="" method="post" name="survey">
      {{ form.hidden_tag() }}
        <p>{{ form.choice0() }}</p><p>{{ form.choice1() }}</p><p>{{ form.choice2() }}</p><p>{{ form.choice3() }}</p><p>{{ form.choice4() }}</p>
        <p>{{ form.choice5() }}</p><p>{{ form.choice6() }}</p><p>{{ form.choice7() }}</p><p>{{ form.choice8() }}</p><p>{{ form.choice9() }}</p>
        <p>{{ form.choice10() }}</p><p>{{ form.choice11() }}</p><p>{{ form.choice12() }}</p><p>{{ form.choice13() }}</p><p>{{ form.choice14() }}</p>
        <p>{{ form.choice15() }}</p><p>{{ form.choice16() }}</p><p>{{ form.choice17() }}</p><p>{{ form.choice18() }}</p><p>{{ form.choice19() }}</p>
        <p>{{ form.choice20() }}</p><p>{{ form.choice21() }}</p><p>{{ form.choice22() }}</p><p>{{ form.choice23() }}</p><p>{{ form.choice24() }}</p>
        <p>{{ form.choice25() }}</p><p>{{ form.choice26() }}</p><p>{{ form.choice27() }}</p><p>{{ form.choice28() }}</p><p>{{ form.choice29() }}</p>


      <div>
        {{form.comp0 }}
      </div>

      <div>
        {{ form.comp1 }}
      </div>

      <div>
        {{ form.comp2 }}
      </div>

      <div>
        {{ form.comp3 }}
      </div>

      <div>
        {{ form.botti }}
      </div>

      <div>
        {{ form.bokete() }}
      </div>

      <p><input type="submit" value="GO"></p>
  </form>
</div>


{% for hyoka in survey_list %}
  {{ hyoka.boke0 }}
  {{ hyoka.boke1 }}
  {{ hyoka.botti }}
  {{ hyoka.bokete }}
  <hr>
{% endfor %}


</body>
</html>