<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>survey</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h2>アンケートです！</h2>

<div>
      {% for boke in bokes %}
      <div class="question row">
        <img src="{{ boke.img }}" class="col-xs-12 img-responsive">
        <h3 class="col-xs-12">{{boke.text}}</h3>
      </div>
      {% endfor %}
  <form action="" method="post" name="survey" class="col-xs-12">
  {{ form.hidden_tag() }}
        <div class="form">{{ form.choice0() }}</div><div class="form">{{ form.choice1() }}</div><div class="form">{{ form.choice2() }}</div><div class="form">{{ form.choice3() }}</div><div class="form">{{ form.choice4() }}</div>
        <div class="form">{{ form.choice5() }}</div><div class="form">{{ form.choice6() }}</div><div class="form">{{ form.choice7() }}</div><div class="form">{{ form.choice8() }}</div><div class="form">{{ form.choice9() }}</div>
        <div class="form">{{ form.choice10() }}</div><div class="form">{{ form.choice11() }}</div><div class="form">{{ form.choice12() }}</div><div class="form">{{ form.choice13() }}</div><div class="form">{{ form.choice14() }}</div>
        <div class="form">{{ form.choice15() }}</div><div class="form">{{ form.choice16() }}</div><div class="form">{{ form.choice17() }}</div><div class="form">{{ form.choice18() }}</div><div class="form">{{ form.choice19() }}</div>
        <div class="form">{{ form.choice20() }}</div><div class="form">{{ form.choice21() }}</div><div class="form">{{ form.choice22() }}</div><div class="form">{{ form.choice23() }}</div><div class="form">{{ form.choice24() }}</div>
        <div class="form">{{ form.choice25() }}</div><div class="form">{{ form.choice26() }}</div><div class="form">{{ form.choice27() }}</div><div class="form">{{ form.choice28() }}</div><div class="form">{{ form.choice29() }}</div>

      <div class="question">コンプレックス質問1</div>
      <div class="form">
        {{form.comp0() }}
      </div>

      <div class="question">
        コンプレックス質問2
      </div>
      <div class="form">
        {{ form.comp1() }}
      </div>

      <div class="question">
        コンプレックス質問3
      </div>
      <div class="form">
        {{ form.comp2() }}
      </div>

      <div class="question">
        コンプレックス質問4
      </div>
      <div class="form">
        {{ form.comp3() }}
      </div>

      <div class="question">
        ぼっち質問
      </div>
      <div class="form">
        {{ form.botti() }}
      </div>
      <div class="question">
        ボケて下さい
      </div>
      <div class="form">
        {{ form.bokete() }}
      </div>
      <div class="form">
        {{ form.twitter() }}
      </div>
  <button id="next" type="button" class="btn-primary">次へ！</button>
　<button id="finish" type="submit" class="btn-success">送信！</button>
  </form>
<div id="inputerror" class="col-xs-12">値を入力して下さい！</div>
</div>
</div>
<!--bootstrap & main.js  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>