<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>ご協力ありがとうございました！</title>
    <link rel="stylesheet" href="/static/css/c3.css">
</head>
<body>
<div class="container">
<div class="row">
<h3 class="text-center">結果発表〜！</h3>
</div>
<div class="row">
<p class="col-xs-12">３０個のボケを芸風が似ている６人の芸人に例えたとき、それぞれの平均評価点は……</p>
</div>
<div class="row">
<div class="col-xs-2"></div>
<div id="chart"></div>
<div class="col-xs-2"></div>
</div>

<p class="text-center">あなたの笑癖は</p>
<div class="h4 text-danger text-center">{{ top }}</div>
<p class="text-center">タイプです！！</p>

<div class="row">
<div class="text-center"><h4>ご協力ありがとうございました！</h4></div>
</div>

<div><p>調査結果を分析した内容は、11月18日（金）〜19日（土）に六本木ミッドタウンで開催される Open Research Forumにて発表致します。</p>
<p>ワークショップ形式で楽しめる内容になっていますので、お時間がございましたら、ぜひ熊坂研究室のブースまで起こし下さい！</p></div>
<div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
      <a href="http://orf.sfc.keio.ac.jp/2016/"><img src="http://web.sfc.keio.ac.jp/~t13804kf/orf2016/bokeimg/kaeru.png" class="orf img-responsive center-block"></a>
      </div>
      <div class="col-xs-3"></div>
</div>

<br><br>

<div class="row">
<div class="col-xs-1"></div>
<div class="col-xs-10"><a class="yoroshi btn btn-info center-block" href="http://www.ramune.xyz/#/">よろしければこちらのアンケートもどうぞ！</a></div>
<div class="col-xs-1"></div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script src="/static/js/d3.min.js" charset="utf-8"></script>
<script src="/static/js/c3.min.js" charset="utf-8"></script>

<script>
var chart = c3.generate({
    bindto: '#chart',
    data: {
        x: 'x',
        columns: [
            ['x',"ナイツ","トレンディーエンジェル","堀内健","陣内智則","オードリー","バカリズム"],
            ['平均点', {{ scores[0] }}, {{ scores[1] }}, {{ scores[2] }}, {{ scores[3] }}, {{ scores[4] }}, {{ scores[5] }}]
        ],
        type: 'bar'
    },
    axis: {
        x: {
            type: 'categorized' // this is needed to load string x value
        }
    }
});
</script>

</body>
</html>